* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: darkgrey;
}

.conteudo {
  background-color: white;
  margin: auto;
  width: 500px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.676);
  border-radius: 3px solid black;
}